[submodule "cats-quest"]
	path = cats-quest
	url = git@github.com:csciuto/cats-quest.git
[submodule "timeline-demo"]
	path = timeline-demo
	url = git@github.com:csciuto/timeline-demo.git
[submodule "meowpiano"]
	path = meowpiano
	url = ../meowpiano
[submodule "goob_nonna"]
	path = goob_nonna
	url = git@github-personal.com:csciuto/goob_nonna.git
